.btn-home{
    padding: 1rem;
    border: 4px double #fff;
    transition: all 0.4s;
}

.btn-home:hover{
    padding: 1rem;
    border: 4px double #70beda;
    color: #70beda;
    transition: all 0.4s;
}

.container-home{
    max-width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.img-banner-home{
    max-height: 50vh ;
}
